<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Header Fade</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="./home.component.css">
</head>
<body>
	<div id="scroll-animate">
  		<div id="scroll-animate-main">
    		<div class="wrapper-parallax">
    			<header>
      			</header>
      			<section class="content">
      			</section>
      			<footer>
      			</footer>
    		</div>
  		</div>
	</div>
  <script src="../assest/JavaScript.js"></script>
</body>
</html>